[Desktop Entry]
Type=Application
Name=Sauerbraten
Comment=Free multiplayer & singleplayer first person shooter, the successor of the Cube FPS
Icon=org.sauerbraten.Sauerbraten
Exec=sauerbraten
Categories=Game;ActionGame;Shooter;
Keywords=fps;action;multiplayer;play;arena;mapeditor;
